{% extends "allauth/layouts/base.html" %}
{% block content %}
<div class="columns is-vcentered">
  <div class="column is-half">
    <h2 class="title is-4">Pizza Solver</h2>
    <p>A tool for figuring out what pizzas to order when you're eating with a group.</p>
    <br>
    <p>Everyone sets their topping preferences ahead of time, and when someone starts an order they pick a restaurant, how many pizzas, and who's eating. The app then solves for the best pizza assignments and toppings that work for the people on it.</p>
  </div>
  <div class="column is-half allauth-inner">
    {% block inner_content %}{% endblock %}
  </div>
</div>
{% endblock %}
